$border_radius: 14px;
$bg_color: #232323;

* {
    all: unset;
    font-family: "Cascadia Code Mono";
    font-size: 16px;
}

.bar {
    background-color: $bg_color;
    border-radius: 3px;
}

.workspaces {
    margin-left: 8px;
}

.current {
    background-color: rgba(256, 256, 256, 0.04);
    border-radius: $border_radius;
}

.current, .occupied {
    min-width: 40px;
}

.current:hover, .occupied:hover {
    background-color: rgba(256, 256, 256, 0.05);
    border-radius: $border_radius;
    min-width: 40px;
}

.cc_button {
    min-width: 150px;
}

.info_button:hover, .cc_button:hover, .layout_button:hover, .menu_button:hover{
    background-color: rgba(256, 256, 256, 0.04);
    border-radius: $border_radius;
}

.info_button:active, .cc_button:active, .layout_button:active, .menu_button:active{
    background-color: rgba(256, 256, 256, 0.02);
    border-radius: $border_radius;
} 

.btn {
    margin-right: 8px;
}

.info {
    min-width: 210px;
}

.layout {
    min-width: 30px;
}
